@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@500&family=Roboto:ital,wght@0,400;1,100&family=Inter:wght@300&family=VT323&display=swap");

:root {
    --button-text-color: rgb(0, 0, 0);
    --text-color: #ffffff;
    --background-color: #141414;
    --primary-color: #b83d14;
    --secondary-color: #0e0e0e;
    --accent-color: #ca4316;
    font-family: "Inter";
    font-size: large;
    font-weight: 600;
}

[data-theme="light"] {
    --button-text-color: white;
    --text-color: #000000;
    --background-color: #fdf4f1;
    --primary-color: #b83d14;
    --secondary-color: #ebebeb;
    --accent-color: #ca4316;
}

#createItemContainer,
#createFolderContainer,
#areYouSureContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
